.card{
    margin-left: auto;
    margin-right: auto;
    width: 33%;    
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
    border-radius: 8px;
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1300px) {
    .card{
        width: 40%;    
    }
}

@media (max-width: 950px) {
    .card{
        width: 50%;    
    }
}

@media (max-width: 700px) {
    .card{
        width: 70%;    
        height: 600px;

    }
}

@media (max-width: 555px) {
    .card{
        width: auto;
        padding: 20px;
        height: 600px;
    }
}

// @media (max-width: 275px) {
//     .card{
//         height: 650px;
//     }
// }