@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

.amountInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthlyAmount{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0px 40px;
}

.stronger{
    font-weight: 900;
}

.monthlyAmountInfo{
    margin: 30px 0px;
    border: solid 1px #E9EEF2;
    border-radius: 8px;
}

.monthlyNumber{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #0079FF;
    margin: 0;
}

.monthlyText{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #1E2A32;
    line-height: 120%;

}

.conclusion{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background: #F4F8FA;
    margin: 0;
    padding: 20px 40px;

}
.monthStrngr{
    min-width: 10px;
    max-width: 10px;
}

@media (max-width: 670px) {
    .monthlyAmountInfo{
           font-size: 16px;
    }
    .monthlyNumber{
        font-size: 25px;
    }
    .monthlyAmount{
        margin: 0px 10px;
    }
    
}
